/*
                Global
 -----------------------------------------------------------------------------------------------------------------------
*/

@import url("https://fonts.googleapis.com/css?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:300,400&display=swap");

$background-color: #101D2C;
$golden-yellow: #C69963;
$white: #FFF;

p {
    margin: 0;
}

section {
    padding: 60px 0;
}

.btn {
    position: relative;
    width: 105px;
    padding: 5px 2px !important;
    border: 1px solid $golden-yellow;
    overflow: hidden;
    color: $white;

    &::before {
        content: "";
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3), transparent);
        transition: all .6s;
    }

    &:hover::before {
        left: 100%;
    }

    &:hover {
        color: $white;
    }
}

.btn--dark {
    width: 114px;
    color: $golden-yellow;

    &:hover {
        background-color: $golden-yellow;
    }
}

body {
    overflow-x: hidden;
}

/*
           headings
------------------------------------------------------------------------------------------------------------------------
 */
.section-heading {
    h4 {
        text-transform: uppercase;
        line-height: 0;
        font-family: "teko", sans-serif;
        color: $background-color;
        font-weight: 300;
        letter-spacing: 1px;
    }

    h1 {
        font-family: "Niconne", sans-serif;
        color: $golden-yellow;
    }
}


/*
     home section
------------------------------------------------------------------------------------------------------------------------
  */


header {
    width: 100%;
    height: 100vh;
    image-rendering: auto;
    background: linear-gradient(rgba(16, 29, 44, .95), rgba(16, 29, 44, .95)),
    url("images/header-bg-min.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

#home {
    .container {
        position: relative;
        height: 100%;
        padding: 0;
    }

    .hamburger-menu {
        position: fixed;
        top: 25px;
        right: 15px;
        width: 50px;
        height: 50px;
        display: flex;
        background-color: $background-color;
        cursor: pointer;
        border-radius: 4px;
        z-index: 999;

        i {
            font-size: 30px;
            margin: auto;
            color: rgba($golden-yellow, .7);
        }

        .fa-times {
            display: none;
        }

        .fa-times.open {
            display: block;
        }

        .fa-bars.open {
            display: none;
        }
    }

    .navbar-brand {
        position: absolute;
        width: 100%;
        max-width: 100px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity .6s;

        &:hover {
            opacity: .8;
        }
    }


    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        list-style: none;
        background-color: $background-color;
        z-index: 900;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transform: scale(0);
        transition: opacity .6s;

        li a {
            color: $white;
        }
    }

    .nav-list.open {
        transform: scale(1);
        opacity: 1;
    }

    .hero-text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        text-align: center;

        h1 {
            font-family: "Niconne", cursive;
            color: $golden-yellow;
        }
    }


}

/*
           About
------------------------------------------------------------------------------------------------------------------------
 */


/*
           Menu
------------------------------------------------------------------------------------------------------------------------
 */

#menu {
    background-color: $background-color;

    .shop-info {

        i {
            color: $golden-yellow;
            font-size: 50px;
        }

        h1 {
            font-size: 25px;
            font-family: "Teko", sans-serif;
            font-weight: lighter;
            text-transform: uppercase;
        }

        p, address {
            color: rgba($white, .5);
        }

    }

    hr {
        border-top: 1px solid rgba($white, .5);
    }

    .point-left, .point-right {
        position: relative;
        background-color: $white;
        display: flex;

        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: inherit;
            top: -12px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            z-index: 1;
        }
    }

    .menu-item-desc {
        padding: 50px 10px;
        color: $background-color;
        margin: auto;

        h6 {
            color: $golden-yellow;
            font-size: 20px;
        }

        h1 {
            color: $background-color;
            font-size: 30px;
            letter-spacing: 1px;
            font-family: "teko", sans-serif;
            font-weight: 300;
        }
    }

    .btn {
        color: $white;
        background-color: $golden-yellow;
    }
}

/*
           Chef Section
------------------------------------------------------------------------------------------------------------------------
 */

#chef {
    .card-body {

        h1 {
            font-size: 25px;
            letter-spacing: 1px;
            font-family: "teko", sans-serif;
            font-weight: 300;
            color: $background-color
        }

        h6 {
            color: $golden-yellow;
            font-size: 16px;
        }
    }
}

/*
           Footer
------------------------------------------------------------------------------------------------------------------------
 */

footer {
    background-color: $background-color;
    color: $white;
}

/*
           Media Queries
------------------------------------------------------------------------------------------------------------------------
 */


@media (min-width: 576px) {
    #home {
        .navbar-brand {
            max-width: 150px;
        }

        .hamburger-menu {
            top: 35px;
            right: 25px;
        }
    }

    #menu {

        .point-right, .point-left {
            &::before {
                display: none;
            }
        }
    }
}


@media (min-width: 768px) {
    .btn {
        width: 150px;
    }
}

@media (min-width: 992px) {

    #home {
        .container {
            padding: 0 15px;
        }

        .hamburger-menu {
            display: none;
        }

        .navbar-brand {
            position: initial;
            transform: initial;
        }

        .nav-list {
            position: initial;
            width: initial;
            height: initial;
            background-color: initial;
            flex-direction: row;
            opacity: initial;
            transition: initial;
            transform: initial;
            margin: 0;
            padding: 0;
        }

        .nav-item {
            margin: 0 30px;

            &:last-child {
                margin-right: 0;
            }

            .nav-link {
                position: relative;
                padding: 0;
            }

            .nav-link::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -3px;
                background-color: $golden-yellow;
                width: 100%;
                height: 2px;
                transform: scaleX(0);
                transform-origin: center;

            }

            .nav-link:hover::before {
                transform: scaleX(1);
                transition: transform .6s;
            }
        }

    }

}

@media (min-width: 1200px) {

    #menu {
        .point-right, .point-left {
            &::before {
                display: block;
                top: 50%;
                left: initial;
                transform: translate(0, -50%) rotate(45deg);
            }
        }

        .point-left::before {
            left: -12px;
        }

        .point-right::before {
            right: -12px;
        }

        .menu-item-desc {
            p {
                display: none;
            }

        }
    }
}
